.navbar-main{
  height:42px;
  background-color: var(--col-berry);
  color:white;
  @media only screen and (min-width: 1000px) {
    padding-left:20px;
  }
}

.nav-item{
  height:100%;
  display: inline-block;
  line-height: 38px;
  padding: 0 10px;
  transition: background-color 250ms ease-in-out;
}

.nav-item:hover{
  background-color: #845e6c;
}

.nav-item:active{
  background-color: #c71b5d;
}
