<div class="header-main">

  <div class="logo">
    <rsf-quaker-logo></rsf-quaker-logo>
  </div>

  <div class="headertext">
    <h1>{{l.get('title')}}</h1>
    <h2>{{l.get('subtext')}}</h2>
    <div class="navbar">
    </div>
  </div>


  <div class="languages">
    <div class="languages-cont">
      <div class="language hvr-backward" (click)="l.setLanguage('en')">
        <img src="assets/en-flag.png">
        <p>{{l.get('english')}}</p>
      </div>
      <div (click)="l.setLanguage('cy')" class="language hvr-backward">
        <img src="assets/cy-flag.png">
        <p>{{l.get('welsh')}}</p>
      </div>
    </div>
  </div>
</div>
