.languages {
  float: right;
  margin-right: 50px;
  display: inline-block;
  margin-top:42px;
  flex-grow: 1;
}

.logo{
  display: inline-block;
  height:200px;
}

.headertext{
  h2{
    font-size: 18px;
    font-weight: normal;
  }
  display: inline-block;
  margin-top:45px;
}

.navbar{
}

.languages-cont{
  float: right;
}

.language {
  line-height: 40px;

  img {
    height: 40px;
  }

  p {
    margin-left: 20px;
    line-height: 37px;
    vertical-align: bottom;
    display: inline-block;
    width:65px;
  }
}

.header-main{
  width:100%;
  background-color: white;
  border-bottom: 4px solid var(--col-berry);
  display: flex;
}

@media only screen and (max-width: 999px){
  .header-main{
    flex-direction: column;
    align-items: center;
  }

  .headertext{
    text-align: center;
    margin:8px;
    width:90%;
  }

  .languages{
    margin:0;
  }
}
