.qu_q{
  width:150px;
  padding:30px;
}

.animated{
  transition: transform 600ms ease-in-out;
}

.animated-text{
  animation-name: text;
  animation-duration: 1000ms;
}

.qu_q.en{
  transform: rotate(45deg);
}

@keyframes text {
  0%   {opacity: 1}
  20%  {opacity: 0}
  80%  {opacity: 0}
  100% {opacity: 1}
}

.qu_text{
  font-weight: bold;
  position: absolute;
  top: 72.5px;
  left: 105px;
  font-size: 22px;
  text-transform: uppercase;
  overflow: hidden;
}

.qu_text.en{
  top: 107.5px;
  left: 87px;
  transform: rotate(
      45deg
  );
}
